@charset "utf-8";
@import url("./nav.css");

.mydiv{
	color: #4B5AB4;
	background-color: #f5f6f9;
	height: 45px;
	border-bottom: 1px solid rgb(210, 210, 210);
	font-size: 25px;
	font-weight: 800;
	text-align: center;
}

.mydiv2{
	color: #000000;
	background-color: white;
	height: 45px;
	font-size: 18px;
	font-weight: 800;
	text-align: center;
}

.mydiv3{
	background-color: white;
	height: 300px;
	font-size: 18px;
}

.guide{
	text-align: center;
	overflow:hidden;
	width: 100%;
	height: 500px;
	display: flex;
}

.image1 {
	overflow:hidden;
	width: 250px;
	height: 260px;
	flex:1;
}

.image1 a{
	color: #000000;
	text-decoration:none;
}

.image1:hover a{
	text-decoration:underline;
}

.image1  img {
	
	border-radius: 10%;
    overflow: hidden;
	width:250px;
	height:auto;
    -webkit-transform:scale(1);
    -ms-transform:scale(1); 
    transform:scale(1);
    -webkit-transition:.3s;
    -ms-transition:.3s;
    transition:.3s;
}
.image1:hover img {
    -webkit-transform:scale(1.1);
    -ms-transform:scale(1.1);   
    transform:scale(1.1);
}

.image2 {
	overflow:hidden;
	width: 250px;
	height: 260px;
	flex:1;
}

.image2 a{
	color: #000000;
	text-decoration:none;
}

.image2:hover a{
	text-decoration:underline;
}

.image2  img {
	border-radius: 10%;
	width:250px;
	height:auto;
    -webkit-transform:scale(1);
    -ms-transform:scale(1); 
    transform:scale(1);
    -webkit-transition:.3s;
    -ms-transition:.3s;
    transition:.3s;
}
.image2:hover img {
    -webkit-transform:scale(1.1);
    -ms-transform:scale(1.1);   
    transform:scale(1.1);
}

.image3 {
	overflow:hidden;
	width: 250px;
	height: 260px;
	flex:1;
}

.image3 a{
	color: #000000;
	text-decoration:none;
}

.image3:hover a{
	text-decoration:underline;
}

.image3  img {
	border-radius: 10%;
	width:250px;
	height:auto;
    -webkit-transform:scale(1);
    -ms-transform:scale(1); 
    transform:scale(1);
    -webkit-transition:.3s;
    -ms-transition:.3s;
    transition:.3s;
}
.image3:hover img {
    -webkit-transform:scale(1.1);
    -ms-transform:scale(1.1);   
    transform:scale(1.1);
}

.image4 {
	
	overflow:hidden;
	width: 250px;
	height: 260px;
	flex:1;
}

.image4 a{
	color: #000000;
	text-decoration:none;
}

.image4:hover a{
	text-decoration:underline;
}

.image4  img {
	border-radius: 10%;
	width:250px;
	height:auto;
    -webkit-transform:scale(1);
    -ms-transform:scale(1); 
    transform:scale(1);
    -webkit-transition:.3s;
    -ms-transition:.3s;
    transition:.3s;
}
.image4:hover img {
    -webkit-transform:scale(1.1);
    -ms-transform:scale(1.1);   
    transform:scale(1.1);
}

.card{
    border: none !important;
    background-color: transparent !important;
    display: inline-block;
}

.empty{
    display: inline-block;
}
.bg_image{
    height: 600px;
}
.category{
    padding-top: 20px;
    height: 250px;
}
.category > .empty > div{
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0px 10px;
}

#degital > div > div{
    width: 150px;
    height: 150px;
    display: inline-block;
    background-size: 150px 150px;
    background-repeat: no-repeat;
    
}

#degital > div:nth-child(1) > div.category_img{
    background-image: url('../assets/images/category/monitor.png');
}
#degital > div:nth-child(2) > div.category-img{
    background-image: url('../assets/images/category/laptop.png');
}
#degital > div:nth-child(4) > div.category-img{
    background-image: url('../assets/images/category/smartphone.png');
}
#degital > div:nth-child(5) > div.category-img{
    background-image: url('../assets/images/category/earphone.png');
}


.category > div .card-body{
    text-align: center;
}

.carousel-control-prev,
.carousel-control-next{
    height: auto;
}
@media screen and (max-width: 768px){
    .category > div{
        width: 120px !important;
    }
    #degital > div > div{
        width: 120px !important;
        height: 120px ;
        display: inline-block;
        background-size: 120px 120px;
        background-repeat: no-repeat;
    }
    .card-title{
        font-size: 1em;
    }
    .card-body{
        height: 50px !important;
    }
    .empty{
        display: block;
    }
    #degital{
        height: 400px;
        text-align: center;
    }
}

@media screen and (min-width:768px) and (max-width: 1200px){
	
}

@media screen and (min-width:992px) and (max-width: 1200px){
	
}
@media screen and (min-width:768px) and (max-width: 992px){
    
}


/* 진장훈 css 부분 시작 */

.flex-container {
    display: flex;
    width:100%;
    
    
}

.flex-container > div {
    width: 100%;
    height:300px;
    
  }
  
.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}





/* 넓이 1080 ~ 1920 사이에서만 작동되는 media쿼리 방식 */
/* @media all and (min-width:1080px) and (max-width:1920px) {
    .carousel2 {
        width:31%;
    }
} */


/* 가로로 만들어진 3개의 박스를 모두 가로로 컨트롤 하기위해 만들어진 class */
.carousel-item.active, .carousel-item-next, .carousel-item-prev {
    display: flex;
    justify-content: space-evenly;
}

/* 공백을 위한 div의 class */

.gong {
    height:100px;
    background-color: white;
}

.gong2 {
    height:35px;
    background-color: white;
}

.gong3 {
    height:50px;
    background-color: white;
}

.imagebox > p {
    text-align: center;
}

/* 진장훈 css 부분 끝 */