@charset "utf-8";
@import url("./nav.css");

.guide-detail{
	width:100%;
	height:300px;
}

.guide-image img{
	margin-right: auto !important;
  	margin-left: auto !important;
	width: 75% !important;
	display: block !important;
	height:300px;
	text-align: center;
}

.guide-image span{
	display: block !important;
	font-weight:700;
	color: black;
	font-size:35px;
	position:absolute;
  	top:230px;
  	left:200px;
}


/* 공백을 위한 div의 class */

.gong {
    height:100px;
    background-color: white;
}

.gong2 {
    height:35px;
    background-color: white;
}

.gong3 {
    height:50px;
    background-color: white;
}

.gong4 {
    height:130px;
    background-color: white;
}

.gong5 {
    height:70px;
    background-color: white;
}

.imagebox > p {
    text-align: center;
}
.form-control[readonly]{
	background-color: transparent !important;
}
textarea{
	resize: none;
}
/* 진장훈 css 부분 끝 */


