@charset "utf-8";
@import url("./nav.css");
.row{
	--bs-gutter-x: none;
}
.g-signin2{
	display: flex;
	justify-content: center;	
}

[name="frm_reg"]{
    margin: 0 auto;
    padding: 0 30px;
}
.form-control{
    border: none;
    border-bottom: 1px solid #4B5AB4;
    border-radius: 0px;
}
.phone_number{
    display: inline-block;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
} */

#check_all{
    margin-left: 10px;
}

.check_box > div{
    display: inline-block;
    margin:0px 5px;
}
.check_box{
    margin-bottom: 15px;
}

[for="email"],
[for="password"],
[for="repassword"],
[for="nickname"],
[for="phone_number"],
[for="favorite_product"],
[for="check"]{
    text-align: left;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
    color: #4B5AB4;
    margin: 15px 0px;
}
[for="check"]{
    display: inline;
}
[for="check_all"],
#check_all{
    text-align: right;
}

#check_all,
#check_age,
#check_agreement,
#check_info{
    
    width: 20px;
    height: 20px;
}
[for="check"]{
    display: inline !important;
}
#check_age,
#check_agreement,
#check_info{
    margin-left: 10px;
    float: right;
    margin: 0px !important;
}
.agreement_box{
    text-align: left;
    margin: 5px 0px;
}
.check_title{
    display: inline !important;
}
.row{
    margin-top: 20px;
}
.btn_complete button{
    background-color: #4B5AB4;
    color: #fff;
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0px;
    
}
.review_top{
	margin: 50px 0px 30px 0px;
}
.review_title{
	font-size: 30px;
	font-weight: bold;
	margin: 0px 0px 15px 0px;
}
.review_des > div{
	color: #7E8593;
}
.review_des > div span{
	color: #4B5AB4;
	font-weight: bold;
}
.period_check > div{
	margin: 0px 5px;
}
.btn_select{
	margin: 0px 5px;
	font-weight: bold;
}
[for="btn_period1"],
[for="btn_period2"],
[for="btn_period3"],
[for="btn_period4"]{
	width: 200px;
	padding: 10px 0px;
	margin: 10px 0px;
}
.period,
.review_gubun,
.function,
.merit,
.demerit,
.subject{
	margin-bottom: 30px;
}
.period_des,
.gubun_des,
.convenience_title,
.function_title,
.subject_title,
.merit_title,
.demerit_title{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
	
}

.merit_text div,
.demerit_text div{
	font-size: 12px;
	color: #7E8593;
	font-weight: bold;
}
.merit_text textarea,
.demerit_text textarea{
	resize: none;
	border: 0px;
	background-color: #f5f6f8;
	font-size: 14px;
	padding: 7px;
}

.merit_text textarea:focus,
.demerit_text textarea:focus{
	outline: none;
}

.btn_select{
	background-color: #F5F6F9 !important;
}
.btn-check:checked + .btn_select,
.btn-check:active + .btn_select,
.btn_select:active,
.btn_select.active{
    color: #fff;
    background-color: #4B5AB4 !important;
    outline: none;
}
.convenience_check > div label,
.function_check > div label{
	width: 70px;
	height: 70px;
	line-height: 55px;
	border-radius: 50%;
	margin: 0px 10px;
}
.convenience,
.function{
	margin-bottom: 30px;
}
.image_select,
.image_add{
	width: 150px;
	height: 150px;
	background-color: #F5F6F9;
	line-height: 145px;
	color: #D8D8D8;
	text-align: center;
	cursor: pointer;
	margin: 10px 7px;
}

.image_add button{
	border: 0px;
	background-color: #F5F6F9;
	color: #7E8593;
	
}
.image_add{
	margin: 0px;
}

.image_des{
	color: #7E8593;
	font-size: 13px;
	margin-bottom: 15px;
}
.image_title{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 7px;
}
.image_text{
	display: inline-block;
}
.image_text input{
	display: none;
}

.btn_complete{
	margin: 30px 0px;	
}
.btn_complete button{
	font-weight: bold;
}
.review_empty{
	display:none;
}
.period_check > div{
	display: inline-block;
}
[name="frm_review"]{
	margin: 0 auto;
}
.preview{
	background-color: #ccc;
}
@media screen and (max-width: 768px){
    .period_check div label{
    	width: 100px;
    	
    }
    .period_check div:nth-child(2){
    	display: block; 
    }
    .review_empty{
    	display: block;
    }
    .image_select,
    .image_add{
	    width: 100px;
	    height: 100px;
	    line-height: 95px;
    }
    .convenience_check > div label,
    .function_check > div label{
    	font-size: 12px;
    	margin: 0px;
    	width: 50px;
    	height: 50px;
    	line-height: 40px;
    }
    .form-check{
	    display: block;
	    min-height: 1.5rem;
	    padding-left: 0em;
	    margin-bottom: 0.125rem;
    }
}

